<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity android:name=".BookIcon"
            android:exported="false"/>
        <activity
            android:name=".Learn_Intervals_L1"
            android:exported="false" />
        <activity
            android:name=".Learn_ScalesAndSignatures_L5"
            android:exported="false" />
        <activity
            android:name=".Learn_ScalesAndSignatures_L4"
            android:exported="false" />
        <activity
            android:name=".Learn_ScalesAndSignatures_L3"
            android:exported="false" />
        <activity
            android:name=".Learn_ScalesAndSignatures_L2"
            android:exported="false" />
        <activity
            android:name=".terms"
            android:exported="false" />
        <activity
            android:name=".Learn_ScalesAndSignatures_L1"
            android:exported="false" />
        <activity
            android:name=".Learn_Basics_L6"
            android:exported="false" />
        <activity
            android:name=".Learn_Basics_L5"
            android:exported="false" />
        <activity
            android:name=".Learn_Basics_L4"
            android:exported="false" />
        <activity
            android:name=".Learn_Rhythm_L2"
            android:exported="false" />
        <activity
            android:name=".Learn_Rhythm_L1"
            android:exported="false" />
        <activity
            android:name=".Learn_Chords_L2"
            android:exported="false" />
        <activity
            android:name=".Learn_Chords_L1"
            android:exported="false" />
        <activity
            android:name=".Learn_Basics_L3"
            android:exported="false" />
        <activity
            android:name=".Learn_Basics_L2"
            android:exported="false" />
        <activity
            android:name=".Learn_Basics_L1"
            android:exported="false" />
        <activity
            android:name=".Learn_Chords"
            android:exported="false" />
        <activity
            android:name=".Learn_Intervals"
            android:exported="false" />
        <activity
            android:name=".Learn_ScalesAndSignatures"
            android:exported="false" />
        <activity
            android:name=".Learn_Rhythm"
            android:exported="false" />
        <activity
            android:name=".Learn_Basics"
            android:exported="false" />
        <activity
            android:name=".GtnHard"
            android:exported="false" />
        <activity
            android:name=".GtnMedium"
            android:exported="false" />
        <activity
            android:name=".GtnEasy"
            android:exported="false" />
        <activity
            android:name=".AllIn"
            android:exported="false" />
        <activity
            android:name=".TimeRush"
            android:exported="false" />
        <activity
            android:name=".GuessTheNote"
            android:exported="false" />
        <activity
            android:name=".PerfectPitch"
            android:exported="false" />
        <activity
            android:name=".NaviHeader"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusicSheets_Activity"
            android:exported="false" />
        <activity
            android:name=".Practice_Activity"
            android:exported="false" />
        <activity
            android:name=".Learn_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>